<div style="background-size: cover; /*background-position: center;*/ background-image: url(<%= image_url 'backgrounds/blob-logo-header.svg' %>")>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div style="font-family: helvetica; width: 100%; height: 100%; text-align: center; color: #02196C; background-color: #F9F2E8" >

<br><br><br>
    <h3 style="margin-top: 0;">Good evening, <%= @user.first_name %>!</h3>
    <p>Here's a friendly reminder to complete your evening blinking exercise!<br><br> You can find it <a style="text-decoration: none" href="https://the-blink-app.herokuapp.com/dashboard">here</a>.</p>

    <h4>Happy Blinking!</h4>
  <br><br>
  <h3>Sent with love from Team Blink</h3>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
