<p>Good morning, <%= @user.email %>,</p>

<p>Here's a friendly reminder to complete your nightly blinking exercise! You can find it <a href="https://the-blink-app.herokuapp.com/dashboard">here</a>.</p>

<p>Happy Blinking!</p>
