<!-- <h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>
 -->
<p>Hi <%= @user.email %>,</p>

<p>Congratulations on taking the first step toward healthier eyes! From personal experience, we at Blink know the discomfort and frustration that comes along with having dry eyes. That's why Blink is dedicated to helping prevent and manage these symptoms. Thank you for joining us! </p>

<p>See ya!</p>
