.eye-break {
  width: 228px;
  margin-top: 120px;
}

.tabs-blink {
  margin-top: 122px;
  margin-bottom: 80px;
  display: flex;
  .tab-blink {
    margin-right: 10%;
    padding-right: 12px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0px;
      color: rgba(2, 25, 108, 0.4);
    }
  }
  .tab-blink.active {
    border-bottom: 4px solid $hard-orange-transparent;
    h3 {
      color: $blue;
    }
  }
}

.tabcontent-blink {
  border: 0;
  padding: 0;
}

#dashboard {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  .routines {
    width: 45%;
    .routine {
      width: 100%;
      justify-content: space-between;
    }
  }
  .card-routine {
    width: 85%;
  }
}


.card-routine.desktop {
  .routine-header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 16px;
    }
  }
  .routine-infos {
    margin-top: 4%;
    p {
      font-size: 12px;
    }
  }
}


.routines.desktop {
  #completed-night {
    &:before {
      width: 1px;
      height: 80px;
      top: calc(12px - (136px/2) - 40px);
      left: calc(50% - 0.5px );
    }
  }
}

.desktop-grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  grid-auto-flow: row;
}

.desktop-settings {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 5%;
}

.card-blink.desktop-resource {
  padding: 7%;
  h2 {
    font-weight: 500;
    font-size: 22px;
  }
  p {
    font-size: 16px;
    line-height: 19px;
  }
  .summary {
    color: $gray;
    margin: 0;
  }
  .collapse {
    text-align: justify;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 0.5px solid $soft-orange;
  }
}
