<h1>BLINK</h1>

<li class="nav-item">
  <%= link_to "Login", new_user_session_path, class: "nav-link" %>
</li>

<li class="nav-item">
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
</li>

<% if current_user %>
  <%= link_to 'Take me to my dashboard', dashboard_path %>
<% end %>
