
<h1>Resources</h1>


<h1>Why Blink?</h1>
<p>Sumamary (to do)</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        onclick="window.fillInModalResource('Why Blink?')">
  Open
</button>

<h1>Tips For Great Eye Hygiene!</h1>
<p>Sumamary (to do)</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        onclick="window.fillInModalResource('Tips For Great Eye Hygiene!')">
  Open
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2 id="resource-title-in-modal"></h2>
      <p id="resource-content-in-modal"></p>
    </div>
  </div>
</div>

<%= render 'shared/navbar_footer' %>
