<%= render 'shared/mobilenavbar' %>

<h1>Resources#index</h1>
<p>Find me in app/views/resources/index.html.erb</p>

<% blink_article = "<p>As phone and computer screens become more ubiquitious, it’s important to educate ourselves on the dangers that using these devices present to our eye health.</p><p>Before computer and phone screens became a part of our daily lives, people blinked 12 - 18 times per minute. Because of these devices, people now blink about 5 times per minute.</p><p>Not blinking often enough can lead to a dry eye disease called Meibomian Gland Dysfunction, or MGD, and here’s why: everyone has tiny glands in their top and bottom eyelids called meibomian glands. These glands produce an oily substance called meibum that prevents evaporation of the eye’s tear film. The only way that meibum is secreted into your eyes is through blinking.</p><p>Due to a combination of not blinking enough and using smart devices at younger ages, kids as young as seven-years-old are being diagnosed with MGD, which, until recently, was most often diagnosed in people 50 years or older.</p><p>We're not helpless against these symptoms, however. Use this app to build better habits and eye health </p>" %>

<h1>Why Blink?</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              onclick="window.fillInModalResource('Why Blink?','<%= blink_article %>')">
        Open
      </button>

<% hygiene_article = "<p>You might wonder why cleaning your eye lids everyday is so important. As trivial as it may seem, we’re here to tell you why cleaning your eye lids on a daily basis is one of the best hygiene habits you should practice everyday!</p>
<p>Other than blinking, cleaning your eye lids everyday is a great way to prevent those red, water, and itchy eyes. This is because for the vast majority of people with dry eyes, the problem starts with the oil glands in our eyelids called the Meibomian Glands. If you don’t properly clean your eyelids regularly, eye debris can build up over time and clog these glands. This leads to unstable tear film, which ultimately leads to Meibomian Gland Dysfunction, or MGD.</p>
<p>We recommend cleaning your eyelids twice per day. Ask your doctor what to use for the cleaning agent (options usually include warm water, diluted baby shampoo, or over-the-counter or prescription eyelid cleanser), and simply follow these steps for clean eyelids: </p>
<ul>
<p>-Wash your hands, and then moisten a clean washcloth, cotton swab, or gauze pad with the cleaning solution.</p>
<p>-Gently wipe your eye lashes and lid margin.</p>
<p>-Rinse with warm water.</p>
<p>-Repeat the process for your other eye using a different washcloth, swab or pad.</p>
</ul>
<p>And you’re done! You’re on your way to healthier eyes already!</p>" %>

<h1>Tips For Great Eye Hygiene!</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              onclick="window.fillInModalResource('Tips For Great Eye Hygiene!','<%= hygiene_article %>')">
        Open
      </button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2 id="resource-title-in-modal"></h2>
      <p id="resource-content-in-modal"></p>
    </div>
  </div>
</div>
