.banner-mobile {
  display: flex;
  height: 120px;
}

.blink-header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .blink-name{
    font-weight: 200;
    letter-spacing: 0.21em;
    font-size: 36px;
    line-height: 54px;
  }
}
