.blink_header_desktop {
  position: absolute;
  width: 376px;
  height: 111.07px;
  top: 54px;
  h1 {
    font-family: Poppins;
    font-weight: 200;
    font-size: 64px;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.21em;
    margin-left: 125px;
  }
}
