#board {
  margin-bottom: 12px;
  .board-bottom, .board-top {
    display: flex;
  }
  .board-top {
    margin-bottom: 8px;
  }
}


.board-section {
  background: rgba(255, 228, 228, 0.6);
  height: 80px;
  width: 100px;
  position: relative;
  .board-label {
    font-weight: 500;
    font-size: 10px;
    line-height: 9px;
  }
}

.board-section.top-left {
  border-radius: 24px 0px 0px 24px;
  margin-right: 8px;
  .board-label {
    position: absolute;
    bottom: 7%;
    right: 9%;
  }
}
.board-section.top-right {
  border-radius: 0px 24px 24px 0px;
  .board-label {
    position: absolute;
    bottom: 7%;
    left: 9%;
  }
}
.board-section.bottom-left {
  border-radius: 24px 0px 0px 24px;
  margin-right: 8px;
  .board-label {
    position: absolute;
    bottom: 7%;
    right: 9%;
  }
}
.board-section.bottom-right {
  border-radius: 0px 24px 24px 0px;
  .board-label {
    position: absolute;
    bottom: 7%;
    left: 9%;
  }
}

#weather-description {
  // width: 86%;
}

img#weather-icon {
  filter: contrast(0) sepia(100%) hue-rotate(0deg) saturate(2000%) brightness(100%);
  -webkit-filter: contrast(0) sepia(100%) hue-rotate(0deg) saturate(2000%) brightness(100%);
  width: 60px;
  display: block;
  margin-top: 3%;
  margin-left: 15%;
}

img#computer-icon {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 22%;
}

.computer-time {
  position: absolute;
  left: 28%;
  top: 25%;
  width: 50%;
  text-align: center;
  p {
    font-size: 10px;
  }
}

.board-content.temperature {
  position: relative;
  width: 100%;
  height: 100%;
  #weather-temperature {
    position: absolute;
    right: 38%;
    bottom: 21%;
    font-size: 34px;
  }
  #weather-degrees {
    position: absolute;
    right: 11%;
    top: 13%;
    font-size: 20px;
  }
}

.board-section.humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.board-content.humidity {
  margin-top: 4px;
  display: flex;
  img {
    width: 22px;
    margin-left: 3px;
  }
  #weather-humidity {
    font-size: 34px;
  }
}
