.button {
  border-radius: 32px;
  font-size: 16px;
  width: 214px;
  height: 67.6px;
  vertical-align: center;
  line-height: 54px;
}

.orange-text {
  width: 100% ;
  color: $hard-orange;
}

#signup-mobile {
  margin-top: 0;
}
