.footer {
  position: fixed;
  width: 100vw;
  left: 0px;
  bottom: 0px;
  background: #F5F5F5;
  height: 50px;
  padding: 0px 20px;
  box-shadow: 0px -10px 10px #F5F5F5;
}

.footer-links {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 16px 8px;

  .footer-link {
    opacity: 0.4;
    color: $blue;
    svg {
      height: 24px;
      width: auto;
    }
  }

  .footer-link.active {
    opacity: 1;
  }
}

