#loginForm {
  width: 90%;
  position: relative;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;

  }
  .form-group.user_email, .form-group.user_password {
    input {
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    margin: 0 5%;
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;
  }
}

#loginForm.loginFormMobile {
    margin-top: 150px;
}

#SignupFormMobile {
  position: relative;
  top: 30%;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
  align-self: center;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;

  }
  #city-input {
    padding-left: 12px;
  }
  .form-group.user_email, .form-group.user_password, .form-group.user_city,
  .form-group.user_first_name, .form-group.user_password_confirmation {
    input {
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    margin: 0 5%;
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;

  }
}

#loginFormDesktop {
  margin-top: 160px;
  width: 500px;
  align-self: center;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;

  }
  .form-group.user_email, .form-group.user_password {
    input {
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;

  }
  #remember-me {
    padding-left: 15px;
  }
}

#SignupFormDesktop {
  margin-top: 160px;
  width: 500px;
  align-self: center;
  #city-input {
    padding-left: 12px;
  }
  label {
    position: absolute;
  }
  .form-control{
    border: 0;

  }
  .form-group.user_email, .form-group.user_password, .form-group.user_city,
  .form-group.user_first_name, .form-group.user_password_confirmation {
    input {
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;

  }
}

