input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

input:focus {
  background: transparent !important;
}

.form-control {
  background-color: transparent;
}

#loginForm {
  width: 90%;
  position: relative;
  font-color: #02196C;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;
  }
  .form-group.user_email, .form-group.user_password {
    input {
      margin: 2%;
      color: #02196C;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    margin: 0 5%;
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;
  }
}


#loginForm.loginFormMobile {
  width: 100%;
  margin-top: 150px;
  font-color: #02196C;
}

#SignupFormMobile {
  font-color: #02196C;
  position: relative;
  top: 30%;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
  align-self: center;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;
  }
  #city-input {
    padding-left: 12px;
  }

  .form-group.user_email, .form-group.user_password, .form-group.user_city,
  .form-group.user_first_name, .form-group.user_password_confirmation {
    input {
      color: #02196C;
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    margin: 0 5%;
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;
  }
}

#loginFormDesktop {
  font-color: #02196C;
  margin-top: 160px;
  width: 500px;
  margin-top: 155px;
  label {
    position: absolute;
  }
  .form-control{
    border: 0;
  }
  .form-group.user_email, .form-group.user_password {
    input {
      color: #02196C;
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;
  }
  #remember-me {
    padding-left: 15px;
  }
}

#SignupFormDesktop {
  font-color: #02196C;
  margin-top: 155px;
  width: 500px;
  align-self: center;
  #city-input {
    padding-left: 12px;
  }
  label {
    position: absolute;
  }
  .form-control{
    border: 0;

  }
  .form-group.user_email, .form-group.user_password, .form-group.user_city,
  .form-group.user_first_name, .form-group.user_password_confirmation {
    input {
      color: #02196C;
      margin: 2%;
      &:focus {
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    border-bottom: .5px solid #818181;
    display: flex;
    justify-content: space-between;

  }
}

