.header_links {
  padding: 45px 55px;
  display: flex;
  justify-content: space-between;
}

.desktop_header_links {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 54px;
  padding-top: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-sign-out {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-right: 28px;
  padding-top: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
