.landing_header_mobile {
  background: linear-gradient(180deg, #FF8552 0%, #FFFFFF 70.98%);
  margin-bottom: -20px;
  border-radius: 0 0 0 40px;
}

.landing_header_mobile h1 {
  font-family: Poppins;
  font-style: medium;
  font-weight: 200;
  font-size: 56px;
  line-height: 84px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.21em;

  color: #02196C;
}
