<h1>Blinking Exercises</h1>

<ul>
  <% @exercises.each do |exercise| %>
    <li><%= @exercise.title %></li>
    <li><%= @exercise.summary %></li>
    <li><%= @exercise.directions %></li>
  <% end %>
</ul>
