<h1>Blinking Exercises</h1>

<ul>
  <% @exercises.each do |exercise| %>
    <li>
      <h2><%= exercise.title %></h2>
      <p><%= exercise.summary %></p>
      <ul>
        <%exercise.directions.split("/").each do |direction| %>
          <li> <%= direction %> </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
